<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeFlowers</title>
</head>
<body>
<img src="{{ note.photo.url }}">
<audio controls>
  <source src="{{ note.song.url }} " type="audio/mp3">
Your browser does not support the audio element.
</audio>

<video controls>
  <source src="{{ note.video.url  }}" type="video/mp4">
Your browser does not support the video tag.
</video>

{{ note.title }}<br>
{{ note.summary}}<br>
{{ note.category }}<br>
{{ note.author }}<br>
</body>
</html>